<template name="properties">
	<div class="properties-title hide">
		Propiedades
		<button type="button" class="close close-properties" aria-label="Close"><span aria-hidden="true" >&times;</span></button>
	</div>

			<div class="properties-content1-2 hide">
					<div class="row">
						<div class="col-md-3"><input type="button" value="Borrar" class="btn btn-default deleteNode"/></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form class="form-inline">
								<div class="form-group properties-form-group">
									<label for="editText">Texto</label>
									<input type="text" value="" class="editText">
								</div>
								<div class="form-group properties-form-group">
									<label for="editColor">Color</label>
									<input type="text" value="" class="editColor">
								</div>
								<div class="form-group properties-form-group">
									<label for="editBackgroundColor">Background Color</label>
									<input type="text" value="" class="editBackgroundColor">
								</div>
								<div class="form-group properties-form-group">
									<label for="editBackgroundColor">Border</label>
									<input type="text" value="" class="editBorder">
								</div>
								<div class="form-group properties-form-group">
									<label for="editWidth">Width</label>
									<input type="text" value="" class="editWidth">
								</div>
								<div class="form-group properties-form-group">
									<label for="editHeight">Height</label>
									<input type="text" value="" class="editHeight">
								</div>
							</form>
							<button type="button" class="btn btn-default applyEditText">Aplicar</button>
						</div>
					</div>
				</div>
</template>
